@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-Light.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-Light.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-Light.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-LightItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-LightItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-LightItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-Regular.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-Regular.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-Regular.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-RegularItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-RegularItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-RegularItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-Medium.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-Medium.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-Medium.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-MediumItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-MediumItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-MediumItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-SemiBold.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-SemiBold.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-SemiBold.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-SemiBoldItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-SemiBoldItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-SemiBoldItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-Bold.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-Bold.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-Bold.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-BoldItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-BoldItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-BoldItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBold.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBold.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBold.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBoldItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBoldItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBoldItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-Black.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-Black.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-Black.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-BlackItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-BlackItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-BlackItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBlack.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBlack.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBlack.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBlack.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBlack.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SC';
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBlackItalic.eot');
  src: url('../../fonts/recursive-sc/RecursiveSC-ExtraBlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBlackItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBlackItalic.woff') format('woff'),
    url('../../fonts/recursive-sc/RecursiveSC-ExtraBlackItalic.ttf') format('truetype');
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}
