@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-Light.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-Light.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-Light.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-LightItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-LightItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-LightItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-Regular.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-Regular.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-Regular.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-RegularItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-RegularItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-RegularItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-Medium.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-Medium.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-Medium.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-MediumItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-MediumItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-MediumItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-SemiBold.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-SemiBold.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-SemiBold.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-SemiBoldItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-SemiBoldItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-SemiBoldItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-Bold.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-Bold.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-Bold.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-BoldItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-BoldItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-BoldItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBold.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBold.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBold.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBoldItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBoldItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBoldItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-Black.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-Black.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-Black.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-BlackItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-BlackItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-BlackItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBlack.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBlack.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBlack.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBlack.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBlack.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recursive SL';
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBlackItalic.eot');
  src: url('../../fonts/recursive-sl/RecursiveSL-ExtraBlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBlackItalic.woff2') format('woff2'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBlackItalic.woff') format('woff'),
    url('../../fonts/recursive-sl/RecursiveSL-ExtraBlackItalic.ttf') format('truetype');
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}
