{% macro quoteSection() %}
  <section class="max-w-6xl mx-auto px-4 sm:px-6 pb-8 sm:pb-10">
    <figure class="quote-block" role="figure" aria-label="Uppmuntrande citat">
      <span class="quote-icon quote-icon-left" aria-hidden="true"><i class="far far-quote-left"></i></span>
      <blockquote id="dailyQuote" class="quote-text">
        <p></p>
      </blockquote>
      <figcaption id="quoteAuthor" class="quote-author"></figcaption>
      <span class="quote-icon quote-icon-right" aria-hidden="true"><i class="far far-quote-left"></i></span>
    </figure>
  </section>
{% endmacro %}
