---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ site.name }} – Artiklar</title>
    <link>{{ site.url }}{{ baseUrl }}/artiklar/</link>
    <description>Senaste artiklarna från {{ site.name }}</description>
    <language>{{ site.lang }}</language>
    <atom:link href="{{ site.url }}{{ baseUrl }}/feed.xml" rel="self" type="application/rss+xml" />
    <lastBuildDate>
      {%- set latest = collections.articles | first -%}
      {%- if latest and latest.date -%}{{ latest.date.toUTCString() }}{%- endif -%}
    </lastBuildDate>

    {%- for post in collections.articles -%}
      {%- if post.data.draft != true and post.data.noindex != true -%}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ site.url }}{{ baseUrl }}{{ post.url }}</link>
        <guid isPermaLink="true">{{ site.url }}{{ baseUrl }}{{ post.url }}</guid>
        <pubDate>{{ post.date.toUTCString() }}</pubDate>
        {%- if post.data.description -%}
          <description><![CDATA[{{ post.data.description }}]]></description>
        {%- endif -%}
        <content:encoded><![CDATA[{{ post.templateContent | safe }}]]></content:encoded>
      </item>
      {%- endif -%}
    {%- endfor -%}
  </channel>
</rss>
