---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all -%}
    {%- if item.data.draft != true and item.data.noindex != true and item.data.eleventyExcludeFromCollections != true -%}
      <url>
        <loc>{{ site.url }}{{ baseUrl }}{{ item.url }}</loc>
        <lastmod>{{ (item.data.lastUpdated or item.date) | isoDate }}</lastmod>
      </url>
    {%- endif -%}
  {%- endfor -%}
</urlset>
